body {
  /***background-color: #420c39;**/
  background-image: url('C:\Users\acer\Desktop\web dev\ZBC\image\wave-1.png');
  background-repeat: no-repeat;
  background-position: 30% bottom;
  background-color: #420c39;
  font-family: Tahoma, Verdana, sans-serif;
}
.na{
  position: relative;
  left:950px;
  bottom:650px;
	line-height: 4px;
  display: inline-block;
	padding: 20px;
  font-size: 25px;
  text-align: right;
  margin-right: -7px;

}

a:link{
	text-decoration: none;
  color: white;
	cursor: pointer;
}
a:visited{
  color:white;
}
.ma{
  width: 500px;
  color:white;
  position: relative;
  text-align: center;
  top: 200px;
  right:50px;
  left:200px;
  font-size:30px;

}
.im1{
  position: relative;
  left: 550px;
  bottom: 200px
}
.im2{
  position: relative;
  right: 800px;
  bottom: 600px;
}
.im3{
  width: 100%;
}
.imm1{
  position: relative;
  left:95px;
  bottom:10px;
}

.imm2{
  position: relative;
  left:30px;
  bottom:25px;
  font-size: 25px;
  color: white;

}

.t1{
  position: relative;
  right:95px;
  bottom:15px;
  font-size: 25px;
  color: white;
  margin-right: auto;
}

.t2{
  position: relative;
  left:230px;
  bottom:15px;


}
