.imm1{
  position: relative;
  left:95px;
  bottom:10px;
}

.imm2{
  position: relative;
  left:30px;
  bottom:25px;
  font-size: 25px;
  color: white;

}

.t1{
  position: relative;
  right:95px;
  bottom:15px;
  font-size: 25px;
  color: white;
  margin-right: auto;
}

.t2{
  position: relative;
  left:230px;
  bottom:15px;


}
